h1
{
    margin: 5;
    padding: 0 0 20px;
    font-size: 40px;
    text-align: center;
    font-family: cursive;
}
body
{
    background:url(background.jpg);
}
#view_table
{
    color: black;
    position: absolute;
    top:200px;
    left:350px;
    text-align: center;
    border:3px solid black;
    background-color:black;
    width: 700px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}
#view_table th
{
    background-color:indigo;
}
#view_table tr
{
    background-color: blueviolet;

}
#logout
{
    position: absolute;
    right: 15%; 
}
#home
{
    width: 40px;
    height: 40px;
    position:absolute;
    right: 15%;
    top:60px;
}
#home:hover
{
    width: 43px;
    height: 43px;
}
#logout:hover
{
    width: 43px;
    height: 43px;
}
#search
{
    position: relative;
    left: 38%;
    height: 35px;
    width: 250px;
    font-size: 15px;
    outline: none;
    background-color:palevioletred;
    border: 2px solid black;
    padding: 5px;
    color: black;

}
#sbtn
{
    position: relative;
    left: 38.5%;
    height: 30px;
    font-size: 18px;
    outline: none;
    background-color:indianred;
    border: 2px solid black;
}
#sbtn:hover
{
    height: 32px;
    font-size: 19px;
    box-shadow: 3px 3px 5px black;
}